{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between align-items-center py-3">
            <h6 class="m-0 font-weight-bold text-primary">Jumlah Data Uji dan Pemilihan Model</h6>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Split Data</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
