<!-- templates/data/split_data.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between align-items-center py-3">
        <h6 class="m-0 font-weight-bold text-primary">Hasil Split Data</h6>
    </div>
    <div class="card-body">
        <p>Persentase Data Uji: {{ test_size }}</p>

        <h2>Data Training</h2>
        <ul>
        {% for item in X_train %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>

        <h2>Data Testing</h2>
        <ul>
        {% for item in X_test %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
