{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Data Latih - Ringkasan Statistik</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Statistik</th>
                <th>Nilai</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mean</td>
                <td>{{ X_train_summary.mean }}</td>
            </tr>
            <tr>
                <td>Standard Deviation</td>
                <td>{{ X_train_summary.std }}</td>
            </tr>
            <tr>
                <td>Min</td>
                <td>{{ X_train_summary.min }}</td>
            </tr>
            <tr>
                <td>Max</td>
                <td>{{ X_train_summary.max }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Data Uji - Ringkasan Statistik</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Statistik</th>
                <th>Nilai</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mean</td>
                <td>{{ X_test_summary.mean }}</td>
            </tr>
            <tr>
                <td>Standard Deviation</td>
                <td>{{ X_test_summary.std }}</td>
            </tr>
            <tr>
                <td>Min</td>
                <td>{{ X_test_summary.min }}</td>
            </tr>
            <tr>
                <td>Max</td>
                <td>{{ X_test_summary.max }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
