{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between align-items-center py-3">
            <h6 class="m-0 font-weight-bold text-primary">Prediksi</h6>
        </div>
        <div class="card-body">
            <h6 class="mt-4">Predict Sentiment</h6>
        <form method="post" action="{% url 'pemodelan:predict_sentiment' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputText">Input Text:</label>
                <textarea class="form-control" id="inputText" name="input_text" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>        {% if prediction %}
        <hr>
        <h6 class="mt-4">Prediction Result</h6>
        <p>Sentiment: <strong>{{ prediction }}</strong></p>
        {% endif %}
        {% comment %} </div>
            <form method="post">
                {% csrf_token %}
                 {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Split Data</button>
                </div>
            </form>
        </div> {% endcomment %}
    </div>
{% endblock %}
