{% extends 'base.html' %}
{% load static %}
{% comment %} {% block title %}Dashboard Admin{% endblock %} {% endcomment %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Content Row -->
<div class="row">
    {% for label, count, color in countEveryLabel %}
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-{{ color }} shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div
                            class="text-xs font-weight-bold text-{{ color }} text-uppercase mb-1">
                            {{ label }}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{ count }}</div>
                    </div>
                    <div class="col-auto">
                        <i
                            class="fas fa-solid fa-comment fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Content Row -->
<div class="row">
    {% if not empty %}
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <canvas id="resultChart" width="400" height="150"></canvas>
                    </div>
                </div>
            </div>
    {% endif %}
    <!-- Word Cloud Positif -->
    {% if check_wordcloud %}
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Word Cloud</h6>
                {% if total != 0 %}
                <a href="{% url 'generate_wordcloud' %}"
                    class="btn btn-primary">Generate Word Cloud</a>
                {% endif %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if total == 0 %}
                <div class="alert alert-warning" role="alert">
                    Tidak ada data yang tersedia.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Word Cloud -
                    Positif</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <img src="{% static positive_wordcloud_url %}"
                    alt="Positive Word Cloud"
                    class="img-fluid mx-auto d-block"
                    style="max-width: 100%; margin-bottom: 20px;">
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Word Cloud -
                    Negatif</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <img src="{% static negative_wordcloud_url %}"
                    alt="Negative Word Cloud"
                    class="img-fluid mx-auto d-block"
                    style="max-width: 100%; margin-bottom: 20px;">
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script>
$(document).ready(function() {

    {% if sentiments %}
        var labels = [];
        var positifData = [];
        var negatifData = [];

        {% for data in sentiments %}
            {% if data.metode == 'Manual' %}
                labels.push(["{{ data.train_size }}:{{ data.test_size }}", "{{ data.metode }}"]);
                positifData.push({{ data.count_positif }});
                negatifData.push({{ data.count_negatif }});
            {% endif %}
        {% endfor %}

        {% for data in sentiments %}
            {% if data.metode == 'Naive Bayes' %}
                labels.push(["{{ data.train_size }}:{{ data.test_size }}", "{{ data.metode }}"]);
                positifData.push({{ data.count_positif }});
                negatifData.push({{ data.count_negatif }});
            {% endif %}
        {% endfor %}

        {% for data in sentiments %}
            {% if data.metode == 'SVM' %}
                labels.push(["{{ data.train_size }}:{{ data.test_size }}", "{{ data.metode }}"]);
                positifData.push({{ data.count_positif }});
                negatifData.push({{ data.count_negatif }});
            {% endif %}
        {% endfor %}

        var ctx = document.getElementById('resultChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'Positif',
                        data: positifData,
                        backgroundColor: '#4E73DF',
                        borderColor: '#4E73DF',
                        borderWidth: 1,
                    },
                    {
                        label: 'Negatif',
                        data: negatifData,
                        backgroundColor: '#dc3545',
                        borderColor: '#dc3545',
                        borderWidth: 1
                    },
                ]
            },
            options: {
                layout: {
                    padding: {
                        left: 25,
                        right: 25,
                        top: 10,
                        bottom: 10
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        min: 0,
                        max: 50,
                        ticks: {
                            stepSize: 10,
                        },
                        title: {
                            display: true,
                            text: 'Jumlah',  
                            font: {
                                size: 16
                            },
                            color: '#333'
                        },
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        position: 'top',
                        padding: {
                            bottom: 40,
                            },
                        text: 'Grafik Hasil Analisis Sentimen Naive Bayes dan SVM',
                        font: {
                            size: 20
                        },
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            font: {
                                size: 14
                            }
                        }
                    },
                    datalabels: {
                        display: true,
                        align: 'end',
                        anchor: 'end',
                        clip: false,
                        formatter: (value) => {
                            return value;
                        }
                    }
                },
            },
            plugins: [ChartDataLabels]
        });
    {% endif %}
});
</script>
{% endblock %}
